{% load static %}
<div id="home_wrapper">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 home">
        <div class="home-block">
            <div class="subtitle"></div>
            <h1 class="tk-source-sans-pro"></h1>
            <div class="home-content">
                <div style="color: var(--project-color); font-size: 50px; font-weight: 700;text-align: left">
                    <div style="display: flex; ">
                        <img src="{% static 'frontend/images/amsterdam-logo.svg' %}"
                             style="width: 43px;margin-right: 1rem;">
                        <div>
                            <div>City of</div>
                            <div>Amsterdam</div>
                            <div>G3W-SUITE</div>
                        </div>
                    </div>
                    <br>
                </div>
                <p style="display: flex; align-items: center; gap: 0.5rem">
                    <span>
                        Powered by
                    </span>
                    <a href="http://gis3w.it">
                        <img style="float:right;"
                             src="{% static 'frontend/images/logo_gis3w.png' %}">
                    </a>
                </p>
                <!--
                 <form>
                   <input type="search" name="s" placeholder="Search this site">
                 </form>
                 -->
            </div>
        </div>
    </div>

    <!-- SIDEBAR left -->
    {% include 'frontend/include/sidebar.html' %}
</div>